<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="MiCadenaConexion" connectionString="Data Source=DESKTOP-FL6Q0Q5;Initial Catalog=PARCIAL01_LUG_EMANUEL_CORDOBA;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>